body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
    max-width: 1280px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes-geracao {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botao-geracao {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-geracao:hover {
    background-color: #ffb300;
}

.lista-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.geracao {
    display: none;
}

.modo-escuro .pokemon-card {
    background-color: #a8a8a8;
}

.pokemon-card {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.pokemon-card:hover {
    background-color: #96d9d6;
}

.pokemon-image {
    width: 90px;
    height: 90px;
}

.pokemon-name {
    text-align: center;
    font-weight: bold;
}

.pokemon-type {
    text-align: center;
}

/* Estilos CSS para a seção de pesquisa de Pokémon */
.pesquisa-pokemon {
    background-color: #f3f3f3; /* Cor de fundo */
    border: 2px solid #000000; /* Borda */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
    color: #333333; /* Cor do texto padrão */
}

.pesquisa-pokemon h2 {
    font-size: 24px; /* Tamanho da fonte para o título */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.pesquisa-pokemon label {
    font-weight: bold; /* Texto em negrito */
    display: block; /* Cada label em uma nova linha */
    margin-bottom: 5px; /* Espaçamento inferior */
}

.pesquisa-pokemon input[type="number"] {
    width: 100%; /* Largura total do input */
    padding: 8px; /* Preenchimento interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #000000; /* Borda */
}

.pesquisa-pokemon button[type="submit"] {
    background-color: #ffcc00; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento interno do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mouse */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 10px;
    
}

.pesquisa-pokemon button[type="submit"]:hover {
    background-color: #ffb300; /* Cor de fundo do botão ao passar o mouse */
}

.geracao-atual {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}



